input[type="text"] {
	border: 1px solid gray;
	font-size: 1.2em;
	padding: 10px 15px;
	border-radius: 5px;
	margin-bottom: 10px;
}
input[type="submit"] {
	font-size: 1.1em;
	padding: 10px 20px;
	border-radius: 5px;
	border: 0;
	background-color: #234;
	color: white;
	display: table;
	margin: 40px auto;
	width: 200px;
}
input[type="submit"]:hover {
	background-color: rgb(53, 82, 112);
}
input[type="submit"]:disabled {
	background-color: rgb(147, 156, 167);
	color: rgb(201, 201, 201);
}
.ng-valid[required]  {
	border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
	border-left: 5px solid #a94442;
}
.alert {
	color: white;
	background-color: #a94442;
	margin-top: -7px;
	margin-bottom: 10px;
	padding: 5px 10px;
	width: 200px;
}