<article *ngIf="autom; else notFound">
	<div (click)="chiudiDettaglio()" id="x">X</div>
	<h3>{{autom.marca}} {{autom.modello}}</h3>
	<div>
		<data [value]="autom.prezzo">{{ autom.prezzo | formattaEuro }}</data>
		<div>Colore <span [style.backgroundColor]="autom.colore" [style.color]="autom.colore">{{autom.colore}}</span></div>
		<ng-container *ngIf="autom.targa">Targa <code>{{autom.targa}}</code></ng-container>
	</div>
	<ng-container *ngIf="auth.isLoggedIn()">
		<button (click)="eliminaAuto(autom.id)" class="bottone">Elimina</button>
		<button (click)="modificaAuto(autom.id)" class="bottone">Modifica</button>
	</ng-container>
</article>
<ng-template #notFound>
	<h4>:-(</h4>
	<p>Auto inesistente.</p>
</ng-template>
