#main {
	width: 80%;
	background-color: white;
	border-radius: 8px;
	box-shadow: #666 0 3px 5px;
	margin: 0 auto;
	padding: 0 0 140px;
	min-height: 75vh;
	position: relative;
}
header {
	background: linear-gradient( #123, #89a );
	padding: 20px 30px;
	border-start-start-radius: 8px;
	border-start-end-radius: 8px;
}
/* svg {
	border: 1px solid red;
	vertical-align: center;
} */
polygon {
	fill:white;
	box-shadow: 0 0 10px #89a;
}
h1 {
	margin-top: 0;
	margin-left: 5px;
	margin-bottom: 15px;
	font-size: 50px;
	color: white;
	font-weight: 100;
	text-shadow: violet 0 0 5px;
}
h1 a {
	color: white;
	text-decoration: none;
}
nav {
	background-color: rgba(10, 30, 40, 0.2);
}
ul {
	margin: 0;
	padding: 0;
}
li {
	display: inline;
}
nav a {
	font-size: 1.1em;
	color: #fff;
	font-weight: 400;
	padding: 5px 30px 8px;
	text-decoration: none;
	display: inline-block;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	letter-spacing: .1em;
}
nav a:hover {
	border-bottom: 2px solid white;
}
nav a:active {
	color: orange;
	border-color: orange;
}
#main div {
	padding: 0 30px;
}
footer {
	background-color: #234;
	padding: 20px 30px;
	color: rgb(172, 164, 240);
	font-weight: 100;
	border-end-end-radius: 8px;
	border-end-start-radius: 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}