<div id="main">
	<header>
		<h1>
			<a routerLink="">
				<svg height="50" width="50" viewBox="0 0 210 200">
					<polygon points="100,10 40,198 190,78 10,78 160,198" />
				</svg>{{title}}
			</a>
		</h1>
		<nav>
			<ul>
				<li><a routerLink="">Home</a></li>
				<!-- <button (click)="goHome()">goHome()</button> -->
				<li><a routerLink="catalogo/1">Auto nuove</a></li>
				<li><a routerLink="catalogo/2">Auto usate</a></li>
				<!-- <li><button (click)="scegliCatalogo(1)">Auto nuove</button>
				<button (click)="scegliCatalogo(2)">Auto usate</button></li> -->
				<li *ngIf="auth.isLoggedIn()"><a routerLink="inserisci">Inserisci auto</a></li>
				<li *ngIf="auth.isLoggedIn()"><a routerLink="inserisci2">Inserisci auto 2</a></li>
			</ul>
		</nav>
		<aside>
			<a routerLink="login" *ngIf="auth.isLoggedOut(); else Logout">Login</a>
			<ng-template #Logout>
				<a (click)="auth.logout()">Logout</a>
			</ng-template>
		</aside>
	</header>
	<div>
		<!-- <app-catalogoauto [tipoCatalogoInput]="tipoCat"></app-catalogoauto>
		<hr> -->
		<router-outlet></router-outlet>
		<!-- <app-dettaglioauto></app-dettaglioauto> -->
	</div>
	<footer>
		<p><small>© 2019 Michele Salvador</small></p>
	</footer>
</div>
