/*span:nth-of-type(odd) {
	background-color: rgb(243, 244, 245);
}*/
span {
	border: 1px solid rgb(206, 206, 206);
	padding: 5px 15px;
	background-color: #f9f9f9;
	display: inline-block;
	cursor: pointer;
	color: orangered;
}
img {
	width: 20px;
	height: 20px;
	object-fit: cover;
	vertical-align: -5px;
	margin-right: 5px;
}
hr {
	margin: 30px 0;
}
