body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(227, 227, 228);
}
h2 {
	font-size: 50px;
	color: #666;
	font-weight: 100;
	text-shadow: #999 0 0 3px;
	padding-bottom: 10px;
	border-bottom: thin solid #ddd;
}
h3 {
	font-size: 30px;
	color: #333;
	font-weight: 400;
}
a {
	color: orangered;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: brown;
}
hr {
	background-color: rgb(200, 200, 200);
	border: 0;
	height: 1px;
}

.bottone {
	padding: 7px 20px 10px;
	border: 1px solid white;
	border-radius: 9px;
	color: #fff;
	background-color: #567;
	font-size: 1em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}
.bottone:hover {
	background-color: rgb(107, 139, 170);
}
.bottone:active {
	color: orange;
	background-color: rgb(64, 75, 87);
	border-color: orange;
}
.bottone:disabled {
	background-color:#999;
	color: #ccc;
	cursor: default;
}